In [15]:
import pandas as pd
import numpy as np

In [16]:
# schedulled, cancelled meetings

# distinct participants

  #break down by program (major)
  #break down by admit term
  #break down by campus
  # break down by services
  # Staff organizer name
f = pd.read_excel('/Users/justinlee/Desktop/cpa/mar.xls')

In [17]:
print(f.columns)
print(f.size)

Index(['Student Name', 'Student E-mail', 'Student ID', 'Admit Term',
       'Classification', 'Major', 'Assigned Staff', 'Student Campus',
       'Cross Campus', 'Had Appointment?', 'Care Unit', 'Scheduled Services',
       'Appointment Type', 'Scheduled Date', 'Scheduled Start Time',
       'Scheduled End Time', 'Scheduled Duration (In Min)',
       'Appointment Created By', 'Appointment Comment', 'Staff Organizer Name',
       'CPA Campus', 'Staff Organizer Email', 'Check In Date', 'Cancelled?',
       'Cancellation Reason', 'Cancellation Comment', 'Cancelled By',
       'Late Cancel No Show?', 'Appointment Summary No Show?',
       'Summary Report Filed?', 'Date Summary Report Submitted'],
      dtype='object')
3875

In [21]:
f['Scheduled Services'].count()

125

In [38]:
# is cancelled: 'Yes', 'No'
hasCancelledPercentage = f['Cancelled?'].value_counts()['Yes'] / f['Cancelled?'].count()

0.192

In [20]:
# unique
len(f['Student Name'].unique())
# pd.value_counts(f['Student Name'])

57

In [41]:
notCancelled = f[f['Cancelled?'] == 'No']

In [50]:
#break down by admit term
print(notCancelled['Admit Term'].value_counts().sort_values())

#break down by campus
print(notCancelled['Student Campus'].value_counts().sort_values())

# break down by services
print(notCancelled['Scheduled Services'].value_counts().sort_values())

# Staff organizer name
print(notCancelled['Staff Organizer Name'].value_counts().sort_values())

Spring 2021 Semester     3
Fall 2019 Semester       6
Spring 2020 Semester     7
Spring 2022 Semester    12
Fall 2020 Semester      21
Fall 2021 Semester      52
Name: Admit Term, dtype: int64
Portland           4
Silicon Valley    12
Seattle           23
Boston            28
Vancouver         34
Name: Student Campus, dtype: int64
Mock Interview - Behavioral     13
Resume Review                   24
Co-op & Internship Questions    31
Mock Interview - Technical      33
Name: Scheduled Services, dtype: int64
Eyaru, Joshua         4
Raithatha, Devina     5
Chen, Jialun         11
Gao, Xiuwen          19
Liu, Lu              30
Zhou, Zhenjie        32
Name: Staff Organizer Name, dtype: int64

In [24]:
ct = pd.crosstab(f['Student Campus'],f['Scheduled Services'])
ct

Scheduled Services,Co-op & Internship Questions,Mock Interview - Behavioral,Mock Interview - Technical,Resume Review
Student Campus,,,,
Boston,5,6,19,6
Portland,5,0,0,0
Seattle,8,2,10,8
Silicon Valley,6,2,7,2
Vancouver,13,7,4,15

In [30]:
# ct.iloc[[1],:]

Scheduled Services,Co-op & Internship Questions,Mock Interview - Behavioral,Mock Interview - Technical,Resume Review
Student Campus,,,,
Portland,5,0,0,0